@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    --primaryColor: #f9ca13;
    --mainBlack: #2b2d42;
    --mainBlackTransparent: #2b2d4216;
    --blackAlternate: #151515;
    --mainWhite: #edf2f4;
    --accentBlue: #073b4c;
    --accentGreen: #02c39a; 
    --accentRed: #ff595e;
    --accentRedDark: #da4b50;
    --accentOrange: #ff9914;
    --accentGrey: #778da9;
    --accentBlueLight: #4cc9f0;
    --accentBlueDark: #1e6091;
    --textWhite: #ffffff;
    --darkTop: #023047;
    --darkTopTransparent: #02304750;
    --infoColor: #f6f9fc;
    --infoColorAlternate: #f6f9fc;
    --borderColor: #eef0f2;

    --mainHeading: 'Nunito', sans-serif;
    --rato: "Open Sans", "Odoo Unicode Support Noto", sans-serif;
    --blogFont: 'PT Sans', sans-serif;;
    --otherfont: 'Open Sans', sans-serif;
}

body {
    font-family: var(--otherfont);

    margin: 0%;
    padding: 0%;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.headerContainer {
    width: 100%;

    display: flex;
    justify-content: center;
}

.innerHeaderContainer {
    width: 95%;
    height: 15vh;

    border-bottom: 1px var(--mainBlackTransparent) solid;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-weight: 700;
}

.logoContainer > img {
    width: 160px;
    height: auto;
}

.navContainer > ul  {
    list-style-type: none;
    margin: 0;
    padding: 0%;
}

.navList > li {
    display: inline;
    
    justify-content: center;
    align-items: center;

    font-family: 'PT Sans', sans-serif !important;
}

.mainLinks {
    padding: 1em 2.5em;
    text-decoration: none;
    color: var(--mainBlack);
}

.mainLinks:hover {
    background-color: var(--primaryColor);
    color: var(--textWhite);
    border-radius: .6em;
    transition: all .12s ease;
}

.admitNowButton {
    background-color: var(--textWhite);
    font-family: 'PT Sans', sans-serif !important;
    font-weight: 600;
    
    border: none;
    padding: .8em 2.2em;
    
    border-radius: 12px;
    border: 1px var(--mainBlack) solid;
    
    font-size: 1em;
    
    margin-right: 1.2em;
}

.admitNowButton:hover {
    background-color: var(--accentGreen);
    color: var(--textWhite);
    border: 1px white solid;

    transition: all .15s ease;
}

.menuButton {
    background-color: var(--primaryColor);
    border: none;
    border-radius: 6px;
    
    position: relative;

    padding: .8em;
    font-size: 1em;
    
    color: var(--textWhite);
}

.menuButton:hover {
    transform: scale(1.1);
    transition: all .15s ease;
}

.heroContainer {
    margin-top: 3em;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.innerHeroContainer {
    width: 100%;
}

.innerHeroTop {
    display: flex;
    height: 12em;

    justify-content: center;
}

.innerHeroTopRight {
    width: 20%;
    line-height: 1.5em;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.innerHeroTopRight > p{
    font-weight: 700;
    font-size: .9em;
}

.innerHeroTopRightButton {
    padding: 1.2em 1.6em;

    border: 1px solid var(--blackAlternate);
    border-radius: 1em;

    background-color: var(--blackAlternate);
    color: var(--textWhite);

    font-size: 1em;
    font-weight: 600;
}

.innerHeroTopRightButton:hover{
    transform: scale(1.07);
    transition: all ease .2s;
}

.innerHeroTopRightButton .buttonIcon {
    padding: .6em .7em;
    border-radius: 50%;
    color: var(--textWhite);
    background-color: var(--accentOrange);
}

.innerHeroTopLeft {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: first baseline;
}

.innerHeroTopLeftHeading {
    font-weight: 900;
    font-size: 2.2em;
}

.innerHeroBottom {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.announcementContainer {
    background-color: var(--textWhite);
    padding: 1.1em;
    font-family: var(--mainHeading) !important;
    
    display: none;
    flex-direction: column;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2em;
    margin-right: -10em;
    margin-top: 10em;
    z-index: 10;
}

.announcementContainer:hover {
    transform: scale(1.03);
    transition: all .2s ease-in-out;
}

.announcementContainer > img {
    width: 200px;
    border-radius: 14px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.announcementLinks {
    font-size: .8em;  
    font-weight: 600;
    align-self: flex-end;  
}

.announcementLinks > a {
    text-decoration: none;
    color: var(--blackAlternate);
}

.announcementHeading {
    font-size: 1em;
    font-weight: 700;

    padding: 1em 0 .3em 0;
}

.heroImage {
    width: 90%;
    border-radius: 3em 0 0 0;

    margin-top: -2em;
    z-index: -1;
}


.alternateHeroContainer {
    width: 90%;
    height: 100px;

    border-radius: 0 0 0 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;

    color: var(--textWhite);
    background-color: var(--accentOrange);
}


.mainInfoSection {
    width: 100%;
    height: 768px;
    display: flex;
    justify-content: center;
}

.infoLeft{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em 1em 2em 5em;
    justify-content: space-evenly   ;

}

.infoPara{
    color: var(--accentBlueDark);
    font-size: 1em;
    font-weight: bold;
}

.infoHeading {
    font-size: 1.8em;
    color: var(--mainBlack);
}

.infoBottomPara {
    font-size: .92em;
    color: var(--mainBlack);
}

.infoBottomReadMore {
    color: var(--accentRedDark);
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}

.infoRight{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoRight > div {
    margin-top: 4em;
}

.rightTop {
    background-color: var(--infoColor);
    width: 60%;
    height: 10em;
    
    border: none;
    border-radius: 7px;
    padding: 1.9em;

    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-around;

    color: var(--mainBlack);
}

.rightBottom {
    background-color: var(--infoColor);
    width: 60%;
    height: 15em;
    
    border: none;
    border-radius: 7px;
    padding: 1.9em;
    
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-around;

    color: var(--mainBlack);
}

.rightTopHeading {
    font-size: 1em;
}

.infoPara:after {
    content: "";
    display: inline-block;  
    height: 0.5em;
    vertical-align: bottom;
    width: 20%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid var(--accentBlueDark);
}

.rightTopDate {
    font-size: .8em;
}

.rightTopDesc {
    font-size: .9em;
}

.rightTopSpan{
    font-size: .9em;
    font-weight: 700;
    color: var(--accentRedDark);
}

.principalInfoSection {
    width: 100%;
    height: 768px;
    background-color: var(--infoColorAlternate);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principalInnerContainer{
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.principalInnerContainer > div {
    background-color: var(--textWhite);
    width: 47%;
    height: 80%;
    
    border-radius: 1em;
}

.innerLeft {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
    background-color: var(--textWhite);
    border-radius: 1em;
}

.innerLeftImageContainer > img {
    width: 100%;
    border-radius: 1em;
}

.innerRightImageContainer > img {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.innerLeftContent {
    border-radius: 0 0 1em  1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: first baseline;
    
    position: relative;
    top: -15%;
    height: max-content;
    background-color: var(--textWhite);
    padding: 2em;
}

.innerLeftContent > span {
    font-size: .9em !important;
}

.mapSection {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapInnerContainer {
    display: flex;

    justify-content: center;
    align-items: center;

}

.mapInnerContainer > p {
    font-size: 1.5em;
}

.mainMap {
    width: 78%;
    height: 500px;
    padding-bottom: 5em;
}

.mapHeading  {
    padding: 1em 0 1em 0;
}

.footerContainer {
    width: 100%;

    height: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footerInnerContainer {
    border-top: 1px solid var(--borderColor);
    padding-top: 2em;
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footerLogo {
    width: 160px;
}

.footerSocial {
    width: 30%;
    height: 130px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
}

.footerContent{
    height: 100%;
    width: 70%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.footerContent > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footerContentHeading {
    font-weight: 700;
    color: var(--primaryColor);
    padding: 0 0 1em 0;
}


.footerLinks {
    padding-bottom: .5em ;

    font-size: .9em;
    font-weight: 500;
}

.footerSocialIcons {
    color: var(--blackAlternate);
    font-size: 1.4em;
    padding: .2em .4em;

    border: 1px solid var(--borderColor);
    border-radius: 6px;
}

.footerBottomContainer {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .9em;
    font-weight: 600;
}

.footerBottomInnerContainer {
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footerBottomLeft {
    width: 50%;
}

.footerBottomRight {
    width: 50%;
}


/* about page css */

.aboutContainer {
    width: 100%;
    padding: 2em 0 2em 0;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
}

.aboutInnerContainer {
    width: 80%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    text-align: justify;
}

.aboutInnerContainer > span {
    font-size: 2em;
    font-weight: 600;
}


/* blogpage css */

.blogContainer {
    width: 100%;
    padding: 2em 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.blogInnerContainer {
    width: 80%;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.blog-post {
    border: 1px solid var(--borderColor);
    border-radius: 12px;
    padding: 1.5em;
}

.blog-post img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

    border-radius: 12px;
}

.blog-post h2 {
    font-family: var(--blogFont);
    font-size: 1.1em;
    margin-top: .6em;
    margin-bottom: -5px;
}

.blog-post .date {
    color: var(--blackAlternate);
    font-size: .8em;
    font-weight: 600;
}

.blog-post .date::before {
    content: "Published Date: ";
}

.read-more-btn {
    color: var(--textWhite);
    background-color: var(--accentRedDark);
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4em;
    width: 8em;
    font-size: medium;
    font-weight: 600;
}

.read-more-btn:hover {
    background-color: var(--accentRed);
    transition: all .2s;
    transform: scale(1.02);
}

/* Contact Us Page css */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;

    font-family: var(--blogFont) !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

.containerWrapper{
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.containerInner {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.page-title {
    text-align: center;
}

.contact-details {
    margin-bottom: 20px;
}

.contact-details > ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.contact-details > ul > li {
    margin-bottom: .7em;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;

    background-color: var(--borderColor);
}

.form-textarea {
    height: 150px;
}

.form-submit {
    background-color: var(--blackAlternate);
    color: white;
    padding: 1em 4em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: var(--accentOrange);
}

#error-message {
    color: red;
    margin-top: 10px;
}

#success-message {
    color: green;
    margin-top: 10px;
}
























/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #acacac;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accentRed)  n;
}